.nav {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}

.nav h1 {
  margin: 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  /* list-style: none; */
  margin: 0;
  /*  display: flex; */
  text-align: center;
}

.nav ul {
  display: inline;
  text-align: center;
  padding-left: 10px;
}

.nav-list ul {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ffd700; /* Change to your desired hover color */
}
